.header__menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 365px;
  justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 767px){
  .header__menu {
    flex-direction: column;
    width: 90px;
  }
}
