.header__btn {
  background-color: #48B774;
  width: 108px;
  height: 42px;
  border-radius: 20px;
  border: none;
  padding: 0;
  margin: 0 0 0 auto;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  align-self: flex-end;
}

.header__btn:hover {
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 767px){
  .header__btn {
    margin-left: 0;
  }
}