.header__title {
  margin: 1px 0 0 8px;
  font-size: 25px;
  font-weight: 500;
  line-height: 37.5px;
}

@media (min-width: 320px) and (max-width: 767px){
  .header {
    font-size: 18px;
    line-height: 20px;
  }
}