.photo__main {
  width: 836px;
  overflow-y: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  z-index: 2;

}

@media (min-width: 992px) and (max-width: 1199px) {
  .photo__main {
    width: 710px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .photo__main {
    width: 700px;    
  }
}

@media (min-width: 320px) and (max-width: 767px){
  .photo__main {
    flex-direction: column;
    width: 320px;
  }
}